@import "custom";
@import "bootstrap/bootstrap";
@import "404";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: calc(48px + 1vw);
  line-height: calc(1em + 1vw);
  margin-bottom: 0;
  padding-bottom: 0;
}

h2 {
  font-size: calc(28px + 1vw);
  line-height: calc(1em + 1vw);
  margin-bottom: 0;
  padding-bottom: 0;
}

p {
  font-size: calc(18px + 1vw);
}

body {
  min-height: 100vh;
  font-family: $font-serif;
  font-size: calc(12px + 1vw);
}

.center-me {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.text-sans-serif {
  font-family: $font-sans-serif;
}

.text-serif {
  font-family: $font-serif;
}

.text-display {
  font-family: $font-display;
  text-transform: uppercase;
}

.text-serif {
  a {
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);

    &:hover {
      text-decoration: none;
      border-bottom: 2px solid #fff;
    }
  }
}
.partner-logo,
.company-logo {
  font-size: calc(12px + 0.5vw);
  a {
    text-decoration: none;
  }
  .icon {
    border-radius: 50%;
    width: 160px;
    height: 160px;
    display: block;
    background-size: cover;
    border: 10px solid #fff;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, .15);
  }
}
.partner-logo {
  .icon {
    width: 300px;
    height: 300px;
    border: 0 solid #fff;
    box-shadow: none;
    background-color: rgba($tertiary, 1);
  }
}
